<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691649418083-9nqdu28ahf38vvtg9dbh1f67i8rl9ufn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691649418083-9nqdu28ahf38vvtg9dbh1f67i8rl9ufn</string>
	<key>API_KEY</key>
	<string>AIzaSyBP1IlD9ObobmPcbbOsa0gzuT6X9Ea7gIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>691649418083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uailist.app</string>
	<key>PROJECT_ID</key>
	<string>uailist</string>
	<key>STORAGE_BUCKET</key>
	<string>uailist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691649418083:ios:cc7c92217544b285d87956</string>
</dict>
</plist>